
* {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}

body {
    background-color: white;
}

header {
    background-color:  #183131;
    color: white;
    padding: 15px;
    margin: 0;
    max-width: 100%;
    position: static;
}

header h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
}

main {
    padding-bottom: 32px; 
    background-color: white;
} 

section {
    background-color: rgb(241, 241, 241);
    border-radius: 10px;
    padding: 24px;
    margin-bottom: 32px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
}

section h2 {
    color: #2c3e50;
    border-bottom: 2px solid #094d4d;
    padding-bottom: 8px;
    margin-bottom: 32px;
    font-size: 28px;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 24px;
}


.producto {
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.producto:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.producto img {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-bottom: 1px solid #eee;
}

.producto h3 {
    padding: 16px 16px 8px;
    color: #2c3e50;
    font-size: 20px
}

p{
  margin: 10px;
  color: #e74c3c;
  margin-bottom: 16px;
}

button {
    margin: 0 16px 16px;
    padding: 12px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #00416d;
}

footer {
    background-color: #183131;
    color: white;
    text-align: center;
    padding: 24px 0;
    margin-top: 32px;
}
